[user]
	name = Robert Boyd III
	email = rob@robertcboyd.com
	signingkey = 55B95B9349D916DF
[credential]
	helper = store
[mergetool]
	keepBackup = false
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[fetch]
	fsckObjects = true
[transfer]
	fsckObjects = true
[recieve]
	fsckObjects = true
[commit]
	gpgsign = true
	verbose = true
[alias]
	co = checkout
	a = add
	c = commit
	r = rebase
	m = merge
	s = status
	l = log
	b = branch
[rerere]
	enabled = true
