[ui]
default-command = "log"

[user]
name = "Robert Boyd III"
email = "git@robertboyd.dev"

[templates]
draft_commit_description = '''
concat(
  description,
  surround(
    "\nJJ: This commit contains the following changes:\n", "",
    indent("JJ:     ", diff.summary()),
  ),
  surround(
    "\nJJ: This commit contains the following changes:\n", "",
    indent("JJ:     ", diff.stat(72)),
  ),
  "\n",
  "JJ: ignore-rest\n",
  diff.git(),
)
'''

[aliases]
rebase-all = ["rebase", "-s", "roots(trunk()..mutable())", "-d", "trunk()"]
tdiff = ["util", "exec", "--", "bash", "-c", """
jj diff -f "heads(::$1 & ::trunk)" -t "$1"
""", ""]

[revsets]
log-graph-prioritize = 'coalesce(description("megamerge\n"), trunk())'

[git]
private-commits = "description(glob:'wip:*') | description(glob:'private:*')"
